<?xml version="1.0" encoding="utf-8" ?>
<configuration >
 <connectionStrings>
   
    <add name="dbconnection" connectionString="Data Source=DESKTOP-HODODC0\SQLEXPRESS;Initial Catalog=Bugtracker;Integrated Security=True"></add> </connectionStrings>

<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>